mixin portfolio-link(href, src, image, title, intro)
    if href == "javascript:;"
        a.portfolio__col.mt-xs-2(href=href data-fancybox="portfolio" data-src=src)
            img.img-fluid(src=image)
            p.portfolio__title.text-small.text-bold.text-uppercase= title
            p.portfolio__intro.text-small!= intro
    else 
        a.portfolio__col.mt-xs-2(href=href)
            img.img-fluid(src=image)
            p.portfolio__title.text-small.text-bold.text-uppercase= title
            p.portfolio__intro.text-small!= intro
            
header.header
    .container
        .container__inner.header__top
            a.header__logo(href="https://novatti.ru/" title="Novatti - разработка сайтов, реклама и продвижение.")
                svg.header__logo-svg(preserveAspectRatio="xMinYMin meet" viewBox="0 0 390 85" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                    path.header__logo-path(d="M373.438,20.246 C367.838,20.246 363.438,15.846 363.438,10.247 C363.438,4.647 367.838,0.247 373.438,0.247 C379.038,0.247 383.438,4.647 383.438,10.247 C383.438,15.846 379.038,20.246 373.438,20.246 ZM381.438,94.245 L365.438,94.245 L365.438,26.246 L357.438,26.246 L357.438,24.246 L381.438,24.246 L381.438,94.245 ZM339.041,94.245 C328.041,94.245 337.374,94.245 323.041,94.245 L323.041,26.246 L313.041,26.246 L313.041,24.246 L323.041,24.246 L323.041,10.846 L339.041,0.247 L339.041,24.246 L351.040,24.246 L351.040,26.246 L339.041,26.246 L339.041,94.245 ZM297.643,94.245 C287.643,94.245 293.644,94.245 281.644,94.245 L281.644,26.246 L271.644,26.246 L271.644,24.246 L281.644,24.246 L281.644,10.846 L297.643,0.247 L297.643,24.246 L309.643,24.246 L309.643,26.246 L297.643,26.246 L297.643,94.245 ZM220.846,76.445 L242.446,61.846 L242.446,42.246 C242.446,30.446 239.046,25.246 232.446,25.246 C227.446,25.246 221.646,27.246 218.646,31.246 C224.446,31.246 228.446,35.246 228.446,40.246 C228.446,45.246 224.446,49.246 219.446,49.246 C214.446,49.246 210.446,45.246 210.446,40.246 C210.446,30.846 220.446,23.246 232.446,23.246 C245.646,23.246 258.446,30.846 258.446,50.246 L258.446,94.704 L206.881,95.007 C209.285,85.314 220.846,76.445 220.846,76.445 ZM242.446,94.704 L242.446,64.646 L228.046,74.645 C224.233,77.187 222.728,83.860 222.483,94.909 L242.446,94.704 ZM193.444,33.846 L180.000,94.000 L162.000,94.000 L145.645,26.246 L137.645,26.246 L137.645,24.246 L169.644,24.246 L169.644,26.246 L161.444,26.246 L177.644,93.845 L193.044,26.246 L185.244,26.246 L185.244,24.246 L204.644,24.246 L204.644,26.246 C198.244,26.246 194.644,28.646 193.444,33.846 ZM115.644,50.246 C115.644,32.446 112.244,25.246 105.644,25.246 C99.044,25.246 95.644,32.446 95.644,50.246 L95.644,94.245 L79.644,94.245 L79.644,50.246 C79.644,31.246 92.444,23.246 105.644,23.246 C118.844,23.246 131.644,31.246 131.644,50.246 L131.644,94.245 L115.644,94.245 L115.644,50.246 ZM44.644,35.246 C44.644,30.046 42.644,26.446 38.644,26.446 C33.044,26.446 24.644,33.846 24.644,40.846 L24.644,94.245 L8.644,94.245 L8.644,26.246 L0.645,26.246 L0.645,24.246 L24.644,24.246 L24.644,33.646 C27.244,29.246 34.444,23.246 42.644,23.246 C55.444,23.246 60.644,30.646 60.644,44.246 L60.644,94.245 L44.644,94.245 L44.644,35.246 Z")
                //- svg.header__logo-svg(viewBox="0 0 382 90" fill="none" xmlns="http://www.w3.org/2000/svg")
                //-     path.header__logo-path(d="M8.38306 90C8.38306 90 8.38306 79.1379 8.38306 61.0815C8.38306 43.0251 15.6484 30.4702 29.201 30.4702C42.7536 30.4702 50.1586 44.4357 50.1586 59.953C50.1586 75.6113 50.1586 90 50.1586 90H58.5417C58.5417 90 57.9828 70.815 57.9828 54.8746C57.9828 38.7931 42.4742 26.0972 29.4804 26.0972C16.4867 26.0972 8.66249 35.8307 8.66249 35.8307V24.8276H0V90H8.38306Z")
                //-     path.header__logo-path(d="M113.503 29.7649C113.363 29.6238 113.224 29.4828 113.084 29.4828H112.944C108.194 26.6614 102.745 25.1097 97.0164 25.1097C79.2723 25.1097 64.8814 39.6395 64.8814 57.5549C64.8814 68.4169 70.0509 78.1505 78.2943 83.9342C78.8531 84.3574 79.412 84.7806 80.1106 85.2038C80.5297 85.4859 80.9489 85.768 81.3681 86.0502C82.0666 86.3323 82.7652 86.7555 83.4638 87.0376C87.5156 89.0125 92.1263 90 97.0164 90C114.761 90 129.151 75.4702 129.151 57.5549C129.151 45.7053 122.864 35.4075 113.503 29.7649ZM115.739 68.558C111.966 75.1881 106.378 80.2665 100.09 82.8056C94.7809 84.9216 89.4717 85.0627 85.0007 83.2288C84.3021 82.8056 83.6035 82.5235 83.0447 82.1003C82.7652 81.9592 82.6255 81.9592 82.4858 81.8182C72.5658 75.6113 70.6098 59.953 78.2943 46.6928C82.0666 40.0627 87.5156 34.9843 93.9426 32.4451C96.737 31.3166 99.5313 30.7523 102.186 30.7523C104.561 30.7523 106.797 31.1755 109.032 32.0219L110.569 32.8683C110.988 33.0094 111.268 33.1505 111.547 33.4326C121.467 39.6395 123.423 55.1567 115.739 68.558Z")
                //-     path.header__logo-path(d="M182.476 24.8276L160.819 88.0251L139.163 24.8276H128.824L153.135 90H164.312L188.763 24.8276H182.476Z")
                //-     path.header__logo-path(d="M243.551 24.6865V36.9592C241.315 34.4201 238.8 32.3041 235.866 30.6113C235.866 30.4702 235.727 30.3292 235.587 30.3292H235.447C230.836 27.6489 225.527 26.0972 219.799 26.0972C202.474 26.0972 188.362 40.3448 188.362 57.837C188.362 68.558 193.532 78.0094 201.496 83.652C202.055 84.0752 202.613 84.4984 203.172 84.9216C203.731 85.2038 204.15 85.4859 204.57 85.768C205.268 86.0502 205.967 86.4733 206.526 86.7555C210.577 88.5893 215.048 89.7179 219.799 89.7179C229.3 89.7179 237.683 85.4859 243.551 78.8558V90H251.934V24.6865H243.551ZM238.661 68.558C235.028 75.047 229.579 80.1254 223.431 82.5235C218.122 84.6395 212.533 84.7806 208.062 82.9467C207.364 82.6646 206.805 82.2414 206.106 81.8182C205.967 81.8182 205.827 81.6771 205.687 81.6771C195.907 75.4702 193.951 60.2351 201.496 47.116C205.128 40.627 210.577 35.6897 216.725 33.1505C219.519 32.0219 222.314 31.5987 224.968 31.5987C227.204 31.5987 229.998 32.0219 232.094 32.8683L233.631 33.5737C233.771 33.7147 233.91 33.8558 234.05 33.8558C234.19 33.9969 234.329 33.9969 234.469 34.1379C244.249 40.3448 246.205 55.5799 238.661 68.558Z")
                //-     path.header__logo-path(d="M306.943 78.4326C304.009 82.6646 299.818 85.627 293.53 85.627C277.603 85.627 274.249 66.1599 274.249 55.5799C274.249 52.0533 274.249 38.511 274.249 31.3166H293.251V27.79H274.249V0H265.307V27.79H258.461V31.3166H265.307V52.6176C265.307 67.8527 272.712 90 293.81 90C301.634 90 307.502 86.8966 311.694 82.2414C310.157 80.9718 308.48 79.7022 306.943 78.4326Z")
                //-     path.header__logo-path(d="M361.657 78.4326C358.723 82.6646 354.531 85.627 348.244 85.627C332.316 85.627 328.963 66.1599 328.963 55.5799C328.963 52.0533 328.963 38.511 328.963 31.3166H347.965V27.79H328.963V0H320.021V27.79H313.175V31.3166H320.021V52.6176C320.021 67.8527 327.426 90 348.523 90C356.348 90 362.216 86.8966 366.407 82.2414C364.87 80.9718 363.194 79.7022 361.657 78.4326Z")
                //-     path.header__logo-path(d="M380.743 90V24.8276H372.08V90H380.743ZM376.411 13.1191C379.485 13.1191 382 10.5799 382 7.47649C382 4.51411 379.485 1.97492 376.411 1.97492C373.337 1.97492 370.962 4.51411 370.962 7.47649C370.962 10.5799 373.337 13.1191 376.411 13.1191Z")
            .header__group-link
                a.header__email(href="mailto:work@novatti.ru") work@novatti.ru
                a.header__link(href="portfolio.html") Портфолио агентства
            svg.header__nav#open-nav(width="24" height="24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 385 385" xml:space="preserve")
                g
                    path.header__nav-path(d="M12.03,120.303h360.909c6.641,0,12.03-5.39,12.03-12.03c0-6.641-5.39-12.03-12.03-12.03H12.03    c-6.641,0-12.03,5.39-12.03,12.03C0,114.913,5.39,120.303,12.03,120.303z")
                    path.header__nav-path(d="M372.939,180.455H12.03c-6.641,0-12.03,5.39-12.03,12.03s5.39,12.03,12.03,12.03h360.909c6.641,0,12.03-5.39,12.03-12.03    S379.58,180.455,372.939,180.455z")
                    path.header__nav-path(d="M372.939,264.667H132.333c-6.641,0-12.03,5.39-12.03,12.03c0,6.641,5.39,12.03,12.03,12.03h240.606    c6.641,0,12.03-5.39,12.03-12.03C384.97,270.056,379.58,264.667,372.939,264.667z")
nav.navbar.navbar_header
    svg.navbar_header__close#close-nav(width="24" height="24" viewBox="0 0 24 24" fill="none")
        path(fill-rule="evenodd" clip-rule="evenodd" d="M12 10.6L17.6 5L19 6.4L13.4 12L19 17.6L17.6 19L12 13.4L6.4 19L5 17.6L10.6 12L5 6.4L6.4 5L12 10.6Z")
    .row
        .col-8.col-lg-7.col-md-12
            .navbar__title Основные услуги
            .navbar__grid.mb-3
                a.navbar__item.navbar__service(href="") Сайт на Тильда
                a.navbar__item.navbar__service(href="") Сайт под ключ
                a.navbar__item.navbar__service(href="") Разработка логотипа
                a.navbar__item.navbar__service(href="") Фирменный стиль
                a.navbar__item.navbar__service(href="") Презентации
                a.navbar__item.navbar__service(href="") E-mail рассылки
                a.navbar__item.navbar__service(href="") Полиграфия
                a.navbar__item.navbar__service(href="") Реклама в Яндекс и Гугл
                a.navbar__item.navbar__service(href="") Таргетированная реклама
                a.navbar__item.navbar__service(href="") Упаковка продукта
                a.navbar__item.navbar__service(href="") Контент
                a.navbar__item.navbar__service(href="") SEO
                a.navbar__item.navbar__service(href="") Тех.поддержка сайта
                a.navbar__item.navbar__service(href="") Анализ сайта
                a.navbar__item.navbar__service(href="") Управление репутацией
        .col-4.col-lg-5.col-md-12
            .navbar__title Дополнительно
            a.navbar__item.mb-1(href="") Реализованные проекты
            a.navbar__item(href="") Контакты
            p.h4
                span.text-green Pro
                | консультируем бесплатно. 
                span.d-block И честно
                    span.text-green .
            form.form
                input.input.input--has-validation.input--full.phone(type="tel" placeholder="Телефон *")
                .mt-1.mb-3.mb-sm-2.form__agree.checkbox
                    input.checkbox__input#agreeInline(type="checkbox" name="agreeInline" checked="checked" required="required")
                    label.checkbox__label(for="agreeInline") согласен с обработкой 
                        a.form__link-inverse(href="/policy.pdf" target="_blank") персональных данных
                button.btn.btn_action.btn--full(type="submit") Обсудить проект
    .portfolio.portfolio_navbar.mt-2
        +portfolio-link("text.html", "", "/demo/portfolio-1.jpg", "EuroComm", "Сайт-визитка на MODx Revo")
        +portfolio-link("text.html", "", "/demo/portfolio-2.jpg", "KAM fish", "Логотип и иконки для&nbsp;хайлайтс")
        +portfolio-link("text.html", "", "/demo/portfolio-3.jpg", "Pelibox", "Открытки для доставки еды")
        +portfolio-link("text.html", "", "/demo/portfolio-1.jpg", "EuroComm", "Сайт-визитка на MODx Revo")
        +portfolio-link("text.html", "", "/demo/portfolio-2.jpg", "KAM fish", "Логотип и иконки для&nbsp;хайлайтс")